
<main>


  <div class="card-container">

    <div class="back-button" (click)="goBack()">
        <img src="./assets/images/atras.svg" alt="atras">
    </div>

    <div class="card">

      <div class="card-content">
        <div class="column-left">
          <img src="./assets/images/receta1.jpg" alt="Tostones de Palta y Huevo">
          <h2>Tostones de Palta y Huevo</h2>
          <div class="descripcion">
            <p>Aprende a preparar este rico desayuno con tres simples ingredientes. Con estos sencillos pasos podrás disfrutar de este rico y nutritivo platillo</p>
          </div>

          <ul>
            <div>
              <div class="porciones-container">
                <p class="subtitle">Tiempo de preparación:</p>
                <div class="cantidad-unidad-container">
                  <p class="cantidad">X</p>
                  <p class="unidad">minutos</p>
                </div>
              </div>

              <div class="porciones-container">
                <p class="subtitle">Porciones:</p>
                <div class="cantidad-unidad-container">
                  <p class="cantidad">X</p>
                  <p class="unidad">porciones</p>
                </div>
              </div>

              <div class="porciones-container">
                <p class="subtitle">Cantidad de calorías:</p>
                <div class="cantidad-unidad-container">
                  <p class="cantidad">X</p>
                  <p class="unidad">kcal</p>
                </div>
              </div>

            </div>

          </ul>
          <p class="publicado">Publicado por:</p>
          <div class="author-info">
            <div class="author-image">
              <img src="./assets/images/default-profile-image.jpg" alt="Luis Palacios Rodriguez">
            </div>
            <p>Luis Palacios Rodriguez</p>
          </div>
        </div>

        <div class="column-right">
          <h3>Ingredientes</h3>
          <div class="ingredientes">
            <ul>
              <li>Ingrediente 1</li>
              <li>Ingrediente 2</li>
              <li>Ingrediente 3</li>
              <li>Ingrediente 4</li>
              <li>Ingrediente 5</li>
            </ul>
          </div>


          <h3>Instrucciones</h3>
          <div class="pasos">
            <ol>
              <div>
                <p class="title-paso">Paso 1:</p>
                <p class="paso-content">Aquí va la descripción del primer paso Aquí va la descripción del primer paso Aquí va la descripción del primer paso Aquí va la descripción del primer paso Aquí va la descripción del primer paso Aquí va la descripción del primer paso Aquí va la descripción del primer paso.</p>
              </div>
              <div>
                <p class="title-paso">Paso 2:</p>
                <p class="paso-content">Aquí va la descripción del segundo paso.</p>
              </div>
              <div>
                <p class="title-paso">Paso 3:</p>
                <p class="paso-content">Aquí va la descripción del tercer paso.</p>
              </div>
            </ol>
          </div>

        </div>
      </div>
    </div>
  </div>

</main>

